# Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

In [2]:
pwd

'C:\\Users\\dell\\Google Drive\\Training\\JPMC Mumbai\\Day 2\\Pandas'

In [3]:
import numpy as np
import pandas as pd

## CSV

### CSV Input

In [4]:
df = pd.read_csv("Sample.csv",skiprows=3)
df

   Unnamed: 0      a     b     c     d
0         0.0    0.0   1.0   2.0   NaN
1         1.0    4.0   NaN   6.0   7.0
2         2.0    NaN   9.0   NaN  11.0
3         3.0   12.0  13.0  14.0  15.0
4         NaN    NaN   NaN   NaN   NaN
5         5.0  232.0  32.0  23.0  31.0

In [9]:
df.dropna(how='all', axis=0, inplace=True)

In [15]:
df.dropna(how='any', axis=0, thresh=4)

     A      B     C     D     E
0  0.0    0.0   1.0   2.0   NaN
1  1.0    4.0   NaN   6.0   7.0
3  3.0   12.0  13.0  14.0  15.0
5  5.0  232.0  32.0  23.0  31.0

In [6]:
df = pd.read_csv("Sample.csv", names='A B C D E'.split(), skiprows=4)

In [7]:
df

     A      B     C     D     E
0  0.0    0.0   1.0   2.0   NaN
1  1.0    4.0   NaN   6.0   7.0
2  2.0    NaN   9.0   NaN  11.0
3  3.0   12.0  13.0  14.0  15.0
4  NaN    NaN   NaN   NaN   NaN
5  5.0  232.0  32.0  23.0  31.0

In [2]:
?pd.read_csv

### CSV Output

In [26]:
pwd

'C:\\Users\\dell\\Google Drive\\Training\\JPMC Mumbai\\Day 2\\Pandas'

In [10]:
df.to_csv(r'C:\Users\dell\Desktop\example20.csv',index=False)

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [16]:
df1 = pd.read_excel('Excel_Sample.xlsx',sheet_name='x3')
df1

    Unnamed: 0         0         1
0            0  0.812918  0.755174
1            1  2.254821  0.411498
2            2 -0.573737 -0.013264
3            3 -0.439754  1.515064
4            4  0.414414  0.058270
..         ...       ...       ...
95          95  0.894264  0.762954
96          96 -0.409702  0.408941
97          97  2.718848 -1.108951
98          98 -1.851250  0.551651
99          99  0.637547 -0.371878

[100 rows x 3 columns]

### Excel Output

In [ ]:
df.to_

In [14]:
df.to_excel('Excel_Sample1.xlsx',sheet_name='Sheet3', \
           startrow=10, startcol=10, index=False)

In [26]:
from openpyxl import load_workbook
path = r'Excel_Sample.xlsx'

book = load_workbook(path)
writer = pd.ExcelWriter(path, engine = 'openpyxl')
writer.book = book

x3 = np.random.randn(100, 2)
df3 = pd.DataFrame(x3)

x4 = np.random.randn(100, 2)
df4 = pd.DataFrame(x4)

df3.to_excel(writer, sheet_name = 'x3')
df4.to_excel(writer, sheet_name = 'x4')
writer.save()
writer.close()

## HTML

You may need to install htmllib5,lxml, and BeautifulSoup4. In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

Pandas can read table tabs off of html. For example:

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [17]:
df = pd.read_html('https://en.wikipedia.org/wiki/Filmfare_Awards')

URLError: <urlopen error [Errno 11004] getaddrinfo failed>

In [16]:
type(df)

list

In [21]:
len(df)

29

In [24]:
df[28]

,vteThe Times Group,vteThe Times Group.1
0,Corporate directors,Indu Jain Samir Jain Vineet Jain Sahu Jain Sah...
1,Print media,The Times of India The Economic Times Maharash...
2,Television media,ET Now Lead India Mirror Now Movies Now Romedy...
3,Times Internet,CricBuzz Gaana.com ETMONEY
4,Times Infotainment &Entertainment Network India,Radio Mirchi
5,Times Business Solutions,TBSL TimesJobs SimplyMarry MagicBricks ZigWheels
6,World Wide Media(previously a 50:50 JV with BBC),Filmfare Filmfare Awards Filmfare Awards South...
7,Other businesses,Artha Group (real estate) Bennett University

____

_____
_____
# SQL (Optional)

The pandas.io.sql module provides a collection of query wrappers to both facilitate data retrieval and to reduce dependency on DB-specific API. Database abstraction is provided by SQLAlchemy if installed. In addition you will need a driver library for your database. Examples of such drivers are psycopg2 for PostgreSQL or pymysql for MySQL. For SQLite this is included in Python’s standard library by default. You can find an overview of supported drivers for each SQL dialect in the SQLAlchemy docs.


If SQLAlchemy is not installed, a fallback is only provided for sqlite (and for mysql for backwards compatibility, but this is deprecated and will be removed in a future version). This mode requires a Python database adapter which respect the Python DB-API.

See also some cookbook examples for some advanced strategies.

The key functions are:

* read_sql_table(table_name, con[, schema, ...])	
    * Read SQL database table into a DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Read SQL query into a DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Read SQL query or database table into a DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Write records stored in a DataFrame to a SQL database.

In [0]:
from sqlalchemy import create_engine

In [0]:
engine = create_engine('sqlite:///:memory:')

In [0]:
df.to_sql('data', engine)

AttributeError: 'list' object has no attribute 'to_sql'

In [0]:
sql_df = pd.read_sql('data',con=engine)

In [0]:
sql_df

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15